@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div>
    <h2 style="text-align:center;">Tìm kiếm</h2>
</div>
<hr>
<div class="row text-center" style="text-align:center;">
    @{ int i = 0;}
    @foreach (var lap in Model)
    {
        i++;
        if (i % 2 == 0)
        {
            @:<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
            }
            else
            {
                @:<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                }
                <div class="thumbnail">
                    <img src="~/Images/@lap.AnhBia" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook " style="width:auto;">
                    <div class="media-body">
                        <h4 style=" min-height:40px;">
                            <a href="@Url.Action("ChiTietLap","Laptop",new {id = lap.MaLap })">@lap.TenLap</a>
                        </h4>
                        <h4 style="color:orangered"> <span>@Html.FormatValue(lap.GiaBan, "{0:#,##0}").000₫</span></h4>
                        <p>
                            <a href="@Url.Action("ThemGioHang", "GioHang", new { ml = lap.MaLap, url = Request.Url.ToString()})" class="btn btn-primary" role="button">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Thêm vào giỏ hàng
                            </a>
                        </p>

                    </div>
                </div>
            @:</div>
        }
</div>
</div>