
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 class="text-center">Địa Chỉ</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.096204836089!2d106.68655201402541!3d10.956105158849175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d7303305bd9d%3A0x7012496b5c6258c7!2zQW4gVGjhuqFuaCA1MCwgQW4gVGjhuqFuaCwgVGh14bqtbiBBbiwgQsOsbmggRMawxqFuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1627351852250!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

